@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
    /* overflow: hidden; */
}
/* 
html {
    background: url(images/layer-3-2.png) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    /* overflow: hidden; 
  } */

body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    background: #f1f2f3;
}

section.navbar {
    height: 100vh;
    background-image: url("images/modern-analytics-1317115_1280.jpg");
    /* filter: grayscale(100%); */
    background-position: center;
    background-size: cover;
    /* background-attachment: fixed; */
    box-shadow: inset;
    z-index: 2;
    background-repeat: no-repeat;
    position: relative;
}

section.navbar nav{
    width: 100%;
    /* position: fixed;x */
    opacity: 0.9;
    top: 0;
    z-index: 3;
    height: 80px;
    background: #aaadaf;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Noto Sans', sans-serif;
}   

section.navbar nav .nav-left{
    display: flex;
}

section.navbar .nav-right .fa-bars{
    display: none;
}

.fa-circle-arrow-up{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 30px;
    color: rgb(91, 59, 79);
    transition: all 0.4s ease-in-out;
}

.fa-circle-arrow-up:hover{
    color: rgb(94, 95, 97);
}

section.navbar .logo{
    line-height: 80px;
    margin: auto 30px;
    font-family: 'Montserrat', sans-serif;
    color: rgb(91, 59, 79);
    font-size: 30px;
}

section.navbar ul{
    margin-left: 30px;
}

section.navbar ul li{
    display: inline;
    line-height: 80px;
    margin: auto 20px;
    font-size: 20px;
}

section.navbar ul li a, section.navbar .nav-right a{
    color: rgb(97, 97, 97);
    font-size: 22px;
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

section.navbar ul li a:hover, section.navbar .nav-right a:hover{
    color: rgb(91, 59, 79);
}

section.navbar .nav-right a{
    text-transform: uppercase;
    margin-right: 50px;
    color: rgb(125, 126, 129);
}

section.navbar .nav-right a.nav_hire_me{
    text-transform: uppercase;
    margin-right: 50px;
    font-size: 27px;
    color: rgb(91, 59, 79);
}
section.navbar .main{
    width: 100%;
    height: calc(100vh - 80px);
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 1;
}

section.navbar .main h1{
    /*font-family: 'Noto Sans', sans-serif; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-transform: capitalize;
    font-size: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: #000000;
}


/* ........................about section styling.................... */

section.about {
    
    display: flex;
    height: 90vh;
    width: 100%;
    z-index: 1;
    position: relative;
    flex: 1;
}

section.about::before{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top , rgb(255, 255, 255), rgb(230, 230, 230));
}

section.about .about-left{
    height: 100%;
    width: 50%;
    margin-top: 50px;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.about img{
    /* margin-top: 20px; */
    width: 400px;
    height: 400px;
}

section.about .about-right{
    flex: 1;
   width: 50%;
   z-index: 2;
}

section.about .about-right h1{
    color: rgb(91, 59, 79);
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    margin-top: 120px;
    margin-bottom: 20px;
}

.about-right h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;
    color: rgb(91, 59, 79);
}

.about-right p{
    color: rgb(122, 122, 122);
    font-size: 20px;
    /* margin-top: ; */
    font-family: 'Noto Sans', sans-serif;
    line-height: 25px;
    width: 600px;
    text-align: justify;
    letter-spacing: 1px;   
}
/* 
.about-right p span{
    color: rgb(91, 59, 79);
} */


.about-right button{
   margin-top: 50px;
   font-family: 'Noto Sans', sans-serif;
   font-size: 25px;
   padding: 10px 15px;
   border: 1px solid rgb(91, 59, 79);
   border-radius: 20px;
   /* background: rgb(162, 168, 187); */
   color: rgb(91, 59, 79);
   cursor: pointer;
   transition: all 0.3s ease-in-out;
}

.about-right button a{
   transition: all 0.3s ease-in-out;
    color: rgb(91, 59, 79);
}

.about-right button:hover{
   color: rgb(162, 168, 187);
   border: 1px solid rgb(162, 168, 187);
}

.about-right button a:hover{
    color: rgb(94, 95, 97);
}
.about-right p a{
    color: rgb(91, 59, 79);
    text-transform: uppercase;
}


/* .......................skills section styling/..................... */

section.myskills{
    /* width: 100; */
    margin-bottom: 40px;
}


section.myskills .skills-column{
    display: flex;
    justify-content: space-around;
    align-items: center;

    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
   
}


section.myskills .row h2{
    color: rgb(91, 59, 79);
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    margin-bottom: 30px;
}

section.myskills ul li{
    color: rgb(102, 100, 101);
    font-size: 20px;
    font-family: 'Noto Sans', sans-serif;
    margin: 8px 0;

}
/* project sectiion styline..................................... */

section.projects{
    width: 100%;
}

.project-container h1{
    color: rgb(162, 168, 187);
    text-align: center;
    font-size: 30px;
   font-family: 'Noto Sans', sans-serif;
    margin: 30px auto;
}

.project-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    /* width: ;     */
}
.project-container img{
    width: 500px;
    cursor: pointer;

    border: solid 1px black;
}

/* .pros .project a:hover{
    
} */

.project-container .pros .project h3, .project-container .pros .project button{
    opacity: 0;
}

.project-container .pros .project:hover{
    background-color: rgb(162, 168, 187);
}

.read_all_blogs{
    color: rgb(91, 59, 79);
    font-size: 22px;
    background: #aaadaf;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    margin: 30px 0 0 30px;
}

/* featured blogs section --------------------  */

.featured-blogs-container, .bogs-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* flex-direction: column; */
    width: 100%;
}

.featured-blogs-container{
    flex-direction: column;
}

.featured-blogs-container .row{
    width: 500px;
    cursor: pointer;
    background-color: rgb(230, 230, 230);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(91, 59, 79);
    padding: 15px 25px;
    border-radius: 20px;
    transition: all 0.4s ease-in-out;
}
.featured-blogs-container .row:hover{
    background-color: initial;
    
}
.featured-blogs-container .row h3{
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
}
.featured-blogs-container .row p{
    color: rgb(94, 95, 97);
    text-align: justify;
}
.read_all_blogs{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* contact section................................................ */


section.myskills .heading, section.contact .heading, section.projects .heading, .featured-blogs .heading{
    font-size: 45px;
    color: rgb(91, 59, 79);
    text-align: center;
    margin: 80px 0;
    font-family: 'Montserrat', sans-serif;
}

section.contact .contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
    margin: auto;
    width: 100%;
    color: rgb(91, 59, 79);
}

.contact-left, .contact-right{
    margin: auto;
    margin-bottom: 40px;
}

.contact-container h1{
    color: rgb(91, 59, 79);
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 30px;
}

.contact-container .row{
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;
}

.contact-container i{
    margin-right: 10px;
    margin-top: 10px;
    font-size: 30px;
}

.contact-container h2, .contact-container h3{
    font-size: 20px;
   font-family: 'Noto Sans', sans-serif;
   font-weight: 400;
}
.contact-container h3 a{
    color: rgb(91, 59, 79);
}
.contact-column{
    width: 80%;
}
.contact-column{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* social-links section ................................... */

section.social-links{
    background-image: initial;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    color: rgb(91, 59, 79);
    height: 200px;
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.footer{
    background-image: url("./images/google-1385511_1920.jpg");
    background-position: center;
    background-size: cover;
    font-family: 'Noto Sans', sans-serif;
    width: 100%;
    color: rgb(91, 59, 79);
    height: 500px;
    /* filter: grayscale(100%); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section.social-links ul li{
    display: inline;
    margin: 5px 20px 20px 0;
}   

section.social-links li a{
    color: rgb(91, 59, 79);
    cursor: pointer;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
}
section.social-links li a:hover{
    color: black;
}

form .toast{
    display: none;
    animation-name: toast;
    animation-duration: 5s;
    text-align: center;
    font-size: 20px;
    color: rgb(162, 168, 187);
}

@keyframes toast{
    from {
        display: none;
    }
    to{
        display: block;
    }
}